.Box__MainStarts__ball{
    background-color: aqua;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Box__MainStarts__ball__div{
    margin: 0px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
.Box__MainStarts__ball--1{
    width: 230px;
    height: 230px;
    background-color: rgba(184, 81, 74, 0.858);
    position:absolute;
    top: 34px;
    right: 83px;
    transform: rotate(25deg);
}
.Box__MainStarts__ball--1 :hover,
.Box__MainStarts__ball--2 :hover,
.Box__MainStarts__ball--3 :hover,
.Box__MainStarts__ball--4 :hover{
   font-size: 26px;
}
.Box__MainStarts__ball--2{
    width: 200px;
    height: 200px;
    background-color: rgba(164, 140, 243, 0.858);
    position:absolute;
    top: 342px;
    right: 233px;
    transform: rotate(-25deg);
   }
.Box__MainStarts__ball--3{
    width: 210px;
    height: 210px;
    background-color: rgba(243, 202, 140, 0.858);
    position:absolute;
    top: 620px;
    right: 61px;
    transform: rotate(-5deg);
}
.Box__MainStarts__ball--4{
    width: 225px;
    height: 225px;
    background-color: rgba(93, 86, 113, 0.858);
    position:absolute;
    top: 885px;
    right: 216px;
    transform: rotate(15deg);
}
.Courses_container_AllCoursesTypeStart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    position: absolute;
    bottom: 0px;
}