/* Aplica box-sizing a todos los elementos, pseudoelementos ::after y ::before */
body,
::after,
::before{
 box-sizing: border-box;
 font-family: "Montserrat", serif;
 font-optical-sizing: auto;
 font-weight: weight;
 font-style: normal;
};
/* Configuración de la fuente Montserrat */