/* Contenedor principal de la sección de cursos favoritos */
.Courses_container_Favorites{
    color: rgb(57, 56, 56);
    height: 1300px;
}
/* Contenedor que organiza las tarjetas de cursos favoritos */
.Box__favorites{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    width: 900px;
    margin: 50px auto 80px;
}
/* Contenedor del título y subtítulo */
.Box__favorites__h1_h2{
    margin-left: 30px;
    margin-top: 70px;    
}
/* Estilo del subtítulo (h2) dentro del contenedor */
.Box__favorites__h1_h2 h2{
    cursor: pointer;  
    display: inline;
    border-bottom: 1px solid #525050;
}
/* Efecto hover en el subtítulo */
.Box__favorites__h1_h2 h2:hover{
    font-size: 2em;
}
/* Tarjetas de cursos favoritos */
.Box__favorites__div{
    width: 300px;
    padding: 20px;
    border: 1px solid rgb(233, 231, 231);
    border-radius: 20px;
    box-shadow:  0px 1px 8px #9f9c9c;
    position: relative;
}
/* Contenedor del precio y el icono de favoritos */
.Box__favorites__Price_Heart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


