.Courses_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 30px 0;
    position: relative; /* Asegura que el contenido esté encima del fondo */
    width: 100%;
    height: 100vh; /* O la altura que quieras para el fondo de las partículas */
    overflow: hidden;
   
  }
  
  .Courses__box {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .Courses__box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .Courses__box__video {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: transform 0.3s;
  }
  
  .Courses__box__video:hover {
    transform: scale(1.1);
  }
  
  .Courses__box__name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .Courses__box__description,
  .Courses__box__price {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }