*,
::after,
::before{
 box-sizing: border-box;
}
.Header_box{
 background-color: black;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 padding: 25px;
}