/* Estilos para el icono de corazón */
.Heart__favorites{
    width: 17px;
    height: 17px;
    background-color: rgb(218, 218, 218);
    transform: rotate(-45deg);
    position: relative;
    cursor: pointer;

}
/* Parte superior izquierda del corazón (círculo) */
.Heart__favorites::before{
    content:'';
    position: absolute;
    top: -50%;
    left: 0%;
    width: 17px;
    height: 17px;
    background-color:  rgb(218, 218, 218);
    border-radius: 50%;
    cursor: pointer;
}
/* Parte superior derecha del corazón (círculo) */
.Heart__favorites::after{
    content:'';
    position: absolute;
    right:-50%;
    width: 17px;
    height: 17px;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
    cursor: pointer;

}

