.Box__LogOut{
    padding: 10px;
    border-radius: 1px solid grey;
    background-color: rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-width: 100%;
    width: 150px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px 0px rgb(77, 77, 77);
}

.Box__LogOut__div{
    color: rgb(61, 61, 61)
}
