
.Box__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 100%;
}
.Box__nav a{
    color: white;
    text-decoration: none;
}
.Box__nav li :hover{
    border-bottom: 1px solid white;
}
.Box__Nav__Ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
    padding: 0px;
  }

.Box__Nav__Li:hover{
    border-bottom: 1px solid white;
}

.Box__Nav__img__car {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: grey;
}