.Box__h1 p{
cursor: pointer;
font-size: 20px;
font-weight: bold;
text-align: center;
color: rgb(63, 61, 61);
margin: 0px;

}
.Box__h1{
   max-width: 100%;
   background-color: rgba(1, 131, 51, 0.171);
   border-radius: 40px;
   box-shadow: 0px 3px 11px rgba(12, 12, 12, .8);
   margin: 10px;
   padding: 10px;
}
.Container__Box__NextCourses{
   display: flex;
   gap:20px;
   flex-wrap: wrap;
   justify-content: center;

}